body
{
  color: rgb(249, 112, 112);
  background: rgb(149, 255, 142);
}
.heading
{
  width: 80%;
  font-size: 22px;
}
#camera 
{
  border: 2px dashed rgb(155, 130, 255);
  width: 350px;
  height: 300px; 
}
.nameOfObjects, #resultObjectName  , #resultObjectAccuracy
{
  color: rgb(152, 255, 255);
}